$base-color: #116ACC;
$active-color: #A0C3FF;
$white: #FFFFFF;
$color-e5e5e5: #e5e5e5;
$gray-7: #F3F4F6;
$gray-5: #9CA3AF;
$gray-4: #6B7280;
$gray-2: #374151;
$black: #000000;
$black-secondary1: #182233;
$green: #27AE60;
$green-light: #76CA66;
$red-light: #FD4E5D;
$red: #EB5757;
$box-shadow: rgba(0, 0, 0, 0.25);
