@import "../../assets/styles/veriables.scss";

.realTimeCurrencyBlock {
  padding: 50px;
  width: 100%;
  background: $color-e5e5e5;
  box-shadow: 0px 5px 20px $box-shadow;
  border-radius: 50px;

  &__title {
    margin: 0;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: $black;
  }

  &__rate {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__nameCurrency {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: $black;
  }

  &__customline {
    align-self: flex-end;
    width: 100%;
    border-bottom: 1px dashed $black;
  }

  &__account {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: $black;
  }
}

.increase__arrow {
  path {
    width: 20px;
    height: 10px;
    fill: $green-light;
  }
}

.decrease__arrow {
  transform: rotate(180deg);
  path {
    width: 20px;
    height: 10px;
    fill: $red-light;
  }
}

.increase__line {
  border: 1px dashed $green-light;
}

.decrease__line {
  border: 1px dashed $red-light;
}
