@import "../../assets/styles/veriables.scss";

.link {
  padding: 16px 24px;
  background-color: $white;
  border: 2px solid $base-color;
  border-radius: 7px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: $base-color;
}
