@import "../../assets/styles/veriables.scss";

.accountId {
  &__accountIdWrapper {
    padding: 50px 0;
  }

  &__transferWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
  }
}
